/*media desktop*/
@media(min-width:1000px){
    *{
         margin:0;
         padding:0;
         height: auto;
         width:auto;
     }
     body{
         background: #F3F5FC;
     }
 
     .alura{
         margin-left: 100px;
         margin-top:50px;
         grid-area: alura;
     }
     .textoIngresar{
         border-color: #F3F5FC;
         background-color: #F3F5FC;
         color:#0A3871;
         font-family: "Inter";
         font-size: 32px;
         font-weight: 600;
         letter-spacing: 0em;
         text-align: left;
         margin-left: 250px;
     }
     .Muñeco{
         grid-area:Muñeco;
         background:#FFFFFF;
         box-shadow:0px 24px 32px -8px rgba(0, 0, 0, 0.08);
         border-radius:32px;
         position:absolute;
         width: 400px;
         height: 844px;
         left: 1800px;
         top: 40px;
     }
     .Muñeco img{
         margin-top: 200px;
         margin-left:40px;
         width: 336px;
         height: 304px;
     }
     .Muñeco h2{
         Color:#343A40;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 700;
         font-size: 24px;
         line-height: 120%;
         font-family: 'Inter';
         text-align: center;
         width:250px;
         margin-left: 80px;
         margin-top: 20px;
     }
     .Muñeco textarea{
         width: 365px;
         height: 48px;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 15px;
         line-height: 150%;
         margin-top: 20px;
         border: #FFFFFF;
         margin-left: 25px;
         text-align: center;
     }
        #nuevo{
            width: 336px;
            height: 681px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: #495057;
        }
        #button{
            
            width: 336px;
            height: 67px;
            margin-left: 35px;
            background-color: #FFFFFF;
            border: 1px solid #0A3871;
            border-radius: 24px;
            font-family: 'Inter';
            font-size: 16px;
            color: #0A3871;
        }
     .Ingresar{
         grid-area:Ingresar ;
     }
     .encriptar{
         grid-area: encriptar;
         margin-left:250px;
     }
     .container{
         display: grid;
         grid-template: 
         " Alura   Muñeco" 200px
         "Ingresar Muñeco" 500px
         "encriptar Muñeco" 150px/
         900px    400px;
     }
     .parrafo{
         width: 215px;
         height: 18px;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 150%;
         color: #495057;
         opacity: 0.8;
         margin-left: 19px;
     }
     .advertencia{
         position: absolute;
     }
     .buttons{
         margin-top:15px;
     }
     .encrip{
         background: #0A3871;
         border-radius: 24px;
         color: #FFFFFF;
         width: 280px;
         height: 80px;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 19px;
         text-align: center;
     }
     .desencrip{
         width: 328px;
         height: 80px;
         background: #D8DFE8;
         border: 1px solid #0A3871;
         border-radius: 24px;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 19px;
         text-align: center;
         color: #0A3871;
     }
 }
 /*media tablet*/
 
 @media(max-width:999px){
    body{
        position: relative;
        width: 768px;
        height: 1174px;
        background: #F3F5FC;
    }
    .alura{
        margin-top: 50px;
        margin-left: 40px;
        grid-area: alura;
    }
    .textoIngresar{
        position: absolute;
        width: 688px;
        height: 48px;
        left: 40px;
        top: 240px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
        background-color: #F3F5FC;
        border-color: #F3F5FC;
        grid-area: ingresar;
    }
    .Muñeco{
        grid-area: muñeco;
        padding: 32px;
        gap: 32px;
        width: 500px;
        height: 145px;
        left: 40px;
        top: 1001px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        margin-left: 25px;
    }
    .Muñeco h2{
        width: 624px;
        height: 29px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
        margin-left:-50px;      
    }
    .Muñeco textarea{
        width: 424px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        border-color: #FFFFFF;
        text-align: center;
       margin-left:55px;
    }

    .Muñeco img{
        visibility: hidden;
        height:.10px;
    }
    #nuevo{
        font-family: Inter;
        font-size: 24px;
        width: 324px;
        height: 80px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
       
        color: #495057;
    }
    #button{
        width: 224px;
        height: 57px;
        font-size: 16px;
        background-color: #FFFFFF;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-family: 'Inter';
        color: #0A3871;
        margin-left: 95px;
        margin-top: 25px;
    }
    .encriptar{
        grid-area: encriptar;
    }
    .advertencia{
        height: 16px;
        width: 16px;
        grid-area: advertencia;
        float:left;
        margin-left:40px;
    }
    .parrafo{
        width: 205px;
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #495057;
        grid-area: parrafo;
        margin-left: 60px;
    }
    .container{
        display: grid;
        grid-template:
        "alura" 80px
        "ingresar" 740px
        "encriptar"150px
        "muñeco" 200px/
        770px ;
    }
    .buttons{
        height:200px;
        margin-left:25px;
        width:auto;
    }
    .encrip{
       text-align: center;
        padding: 24px;
        gap: 8px;
        width: 278px;
        height: 67px;
        background: #0A3871;
        border-radius: 24px;    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    .desencrip{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #0A3871;
        padding: 24px;
        gap: 8px;
        width: 278px;
        height: 67px;
        border: 1px solid #0A3871;
        border-radius: 24px;
    }
}
/*media phone*/
@media(max-width:400px){
    body{
        width: 375px;
        height: 933px;
        background: #F3F5FC;
    }
    .alura{
        height: 46px;
        width: 31px;
        margin-top: 24px;
        margin-left: 26px; 
        grid-area:alura ;    
    }
    .textoIngresar{
        width: 243px;
        height: 48px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 570;
        font-size: 25px;
        Color: #0A3871;
        background: #F3F5FC;
        border-color: #F3F5FC;
        margin-top:-110px;
        margin-left: 1px;
        grid-area:ingresar ;
    }
    .Muñeco img{
        visibility: hidden;
        height:10px;
    }
    .Muñeco{
        grid-area: muñeco;
        width:200px;
        margin-left:30px;
        height: 256px;
        left: 24px;
        top: 707px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }
    .Muñeco h2{
        width: 253px;
        height: 58px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        color: #343A40;
        margin-left:-17px;
        text-align: center;
        margin-top:-10px;
    }
    .Muñeco textarea{
        width: 243px;
        height: 48px;
        border-color: #FFFFFF;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #495057;
        text-align: center;
        margin-left:-7px;
    }
    #nuevo{
        font-family: Inter;
        font-size: 20px;
        width: 199px;
        height: 200px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
       
        color: #495057;
    }
    #button{
        width: 224px;
        height: 57px;
        font-size: 16px;
        background-color: #FFFFFF;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-family: 'Inter';
        color: #0A3871;
        margin-left: -9px;
        margin-top: 25px;
    }
    .vectorParrafo{
        height:30px;
    }
    .parrafo{
        width: 205px;
        height: 18px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #495057;
        grid-area:parrafo ;
    }
    .advertencia{
        height: 16px;
        width: 16px;
        grid-area:advertencia ;
        margin-top:12px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 485px; 
        margin-bottom:350px;
    }
    .encriptar{
        grid-area: encriptar;
        display: grid;
        height: auto;
        margin-left: 20px;
        grid-template: 
        "advertencia  parrafo"20px/
         20px         auto;

    }
    .encrip{
        gap: 8px;
        width: 278px;
        height: 67px;
        background: #0A3871;
        border-radius: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        margin-left:-20px;
    }
    .desencrip{
        margin-left:-20px;
        width: 278px;
        height: 67px;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #0A3871;
    }

    .container{
        display: grid;
        grid-template:
        "alura" 80px
        "ingresar" 340px
        "encriptar"300px
        "muñeco" 200px/
        370px ;
    }
}


